.logoFloat {
    position: fixed;
    right: 0;
    bottom: 30px;
    z-index: 200;
}


.logo-circ {
    width: 120px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLogo {
    width: 40px;
    height: auto;
    border-radius: 20%;
    -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
    animation: pulsate-fwd 0.5s ease-in-out infinite both;
    cursor: pointer;
}

.rowUp {
    filter: invert(1) brightness(2);
    background-color: white;
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.rowUpDiv {
    opacity: 0;
    transition: 0.8s ease all;
    visibility: hidden;
}

.rowUpDiv.active {
    opacity: 1;
    visibility: visible;
    transition: 0.8s ease all;
    cursor: pointer;
}