.footer{
    background-color: black;
    bottom: 0;
    width: 100% !important;
}
.footerrow{
    width: 100% !important;
    padding: 20px;
}

.linkFooter a{
    text-decoration: none;
    color: white;
}

.footer b,.footer span{
    color: white;
}