@font-face {
    font-family: 'VaguardBasic';
    src: url('./font/VAGUARD BASIC.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Moonrising';
    src: url('./font/Moonrising.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('./font/LiberationSans-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

.wrapper-all {
    width: 100% !important;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes movingObject {
    0% {
        transform: translateX(-500px);
        transform: translateY(-100px);
    }

    50% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-100vw);
        transform: translateY(-100vh);
    }
}

.homeHeader {
    height: 55vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, #8ecae6, #219ebc, #023047);
    background-size: 300% 300%;
    animation: gradientAnimation 6s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 0;
}

.homeHeader::after {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.2);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    top: 20%;
    left: -350px;
    animation: movingObject 15s linear infinite;
    z-index: 1;
}

.homeHeader::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.3);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    top: 60%;
    left: -500px;
    animation: movingObject 15s linear infinite reverse;
    z-index: 1;
}

.contentHomeHeader {
    z-index: 90;
}


.contentHomeBody {
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 12;
    margin-top: 100px;
}


.content-service {
    width: 100%;
}

.wrapper-all {
    flex: 1;
}

/*////////////////////////// front styling ////////////////////*/

.frontWelcome.active {
    position: fixed;
    visibility: visible;
    -webkit-animation: slide-bottom 0.8s both, AnimationName 4s ease infinite;
    animation: slide-bottom 0.8s both, AnimationName 4s ease infinite;

}

.frontWelcome.hidden {
    position: fixed;
    -webkit-animation: slide-right 0.8s forwards;
    animation: slide-right 0.8s forwards;
}

.frontWelcome {
    width: 100vw;
    height: 100vh;
    z-index: 999;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(88deg, #8ecae6, #219ebc, #023047);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
}

@keyframes AnimationName {
    0% {
        background-position: 0% 15%
    }

    50% {
        background-position: 100% 86%
    }

    100% {
        background-position: 0% 15%
    }
}

.frontContent {
    width: 100vw;
    height: 100vh;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-111%);
        transform: translateX(-111%);
    }
}

.content-left-front {
    width: 50vw;
    height: 100vh;
}

.content-right-front {
    width: 20vw;
    height: 100vh;
}



.nameFront {
    font-size: 10vw;
    -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    font-family: "LiberationSans";
}

.descFront {
    font-size: 2vw;
    color: white;
    border-bottom: 2px solid white;
    -webkit-animation: text-focus-in 1.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    font-family: "Moonrising";
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}


@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

#arrowImage {
    filter: invert(1) brightness(2);
    width: 5vw;
    -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
    animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/*//////////////////////////////////////////////////////*/

.bridgeBody {
    position: absolute;
    top: 50vh;
    color: white;
    right: 15vw;
    overflow: hidden;
}

.contentBridge {
    background: linear-gradient(88deg, #8ecae6, #219ebc, #023047);
    width: 70vw;
    height: 10vh;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.textBridge {
    display: flex;
    align-items: center;
    gap: 100px;
    white-space: nowrap;
    transform: translateX(0);
    will-change: transform;
}

.button-contact {
    background-color: transparent;
    border-color: white;
}

.button-plan {
    background-color: transparent;
    border-color: white;
}

.button-contact:hover {
    transition: background-color 2s ease linear;
}

.slider-container {
    width: 100%;
    height: 300px;
    /* Atur tinggi slider sesuai kebutuhan */
    margin: 0 auto;
}


.imgHeader {
    border-radius: 50%;
    background-color: white;
    width: 100%;
}