.wrapper-all{
width: 100% !important;
}

.frontWelcome.active {
    position: fixed;
    visibility: visible;
    -webkit-animation: slide-bottom 0.8s both, AnimationName 4s ease infinite;
    animation: slide-bottom 0.8s both, AnimationName 4s ease infinite;

}

.frontWelcome.hidden {
    position: fixed;
    -webkit-animation: slide-right 0.8s forwards;
    animation: slide-right 0.8s forwards;
}

.frontWelcome {
    width: 100vw;
    height: 100vh;
    z-index: 999;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(88deg, #8ecae6, #219ebc, #023047);
    background-size: 600% 600%; 
    -webkit-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
}

@keyframes AnimationName {
    0% {
        background-position: 0% 15%
    }

    50% {
        background-position: 100% 86%
    }

    100% {
        background-position: 0% 15%
    }
}

.frontContent {
    width: 100vw;
    height: 100vh;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-111%);
        transform: translateX(-111%);
    }
}

.content-left-front {
    width: 50vw;
    height: 10vh;
}

.content-right-front {
    width: 20vw;
    height: 100vh;
}

small {
    text-decoration: underline;
    color: white;
}


.homeHeader {
    width: 100%;
    background-color: black;
    height: 50vh;
}

.contentHomeHeader .row {
    height: 100%;
    width: 100%;
}

.contentHomeHeader {
    height: 100%;
    width: 100%;
}

.image-header-container {

}

.contentHomeBody {
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 12;
    margin-top: 100px;
}


.content-service {
    width: 100%;
}

#arrowImage {
    filter: invert(1) brightness(2);
    width: 5vw;
}


.wrapper-all{
    flex: 1;
}

.contentHomeBody .row,
.contentHomeBody .col {
    max-width: 100%;
}


.wave {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    background: black;
    transform: scale(1, 1.5);
    max-width: 100%;
  }
  
  .wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: white;
    right: -25%;
    top: 20px;
    z-index:0;
  }
  
  .wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: black;
    left: -25%;
    top: -240px;
    clip-path: ellipse(100% 15% at -15% 100%);
  }