
.wrapperContainer {
    width: 100%;
}

.containerOurPlan {
    perspective: 800px;
}

.contentCard {
    transition: transform 1s;
    transform-style: preserve-3d;
}


.pricingTitle {
    font-family: 'Raleway', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    color: #023047;
}

/* .customCard {
    background: linear-gradient(-45deg, rgba(129, 230, 217, 1) 0%, rgb(22, 146, 134) 18%, rgb(46, 104, 180) 10%, rgba(129, 230, 217, 1) 90%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 250px;
    height: 350px;
    border-radius: 20px;
    color: white;
    -webkit-animation: slide-fwd-center-out 0.45s ease-out both;
    animation: slide-fwd-center-out 0.45s ease-out both;
    margin: 20px;
    box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    -webkit-box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    -moz-box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    position: relative;
    backface-visibility: hidden;
}

.learnMore {
    background: linear-gradient(-45deg, rgb(22, 146, 134) 100%, rgb(46, 104, 180) 0%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    width: 249px;
    height: 350px;
    color: white;
    -webkit-animation: slide-fwd-center-out 0.45s ease-out both;
    animation: slide-fwd-center-out 0.45s ease-out both;
    box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    -webkit-box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    -moz-box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    z-index: -1;
    opacity: 0;
    border-radius: 20px;
    overflow-y: auto;
    transform: rotateY( 180deg );
}

.containerOurPlan.active .contentCard {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
}
   */

.learnMore::-webkit-scrollbar {
    width: 12px;
    padding: 10px;
    border-radius: 10px;
}

.learnMore::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.learnMore::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: 2px solid rgba(22, 146, 134, 0.3);
}

.learnMore::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8);
}

.learnMore.active {
    transform: rotateY(180deg);
}



.customCardHeader {
    text-align: center;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1.3px;
    font-weight: 700;
}

.card-container {
    width: 250px;
    height: 350px;
    perspective: 1000px;
    position: relative;
}

.cardFlipper {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.card-container.active .cardFlipper {
    transform: rotateY(180deg);
}

.customCard {
    background: linear-gradient(-45deg, rgba(129, 230, 217, 1) 0%, rgb(22, 146, 134) 18%, rgb(46, 104, 180) 10%, rgba(129, 230, 217, 1) 90%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: white;
    box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    -webkit-box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    -moz-box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    display: flex;
    flex-direction: column;
    position: absolute;
    backface-visibility: hidden;
}


.learnMore {
    background: linear-gradient(-45deg, rgb(22, 146, 134) 0%, rgb(46, 104, 180) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: white;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    overflow-y: auto;
    box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    -webkit-box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    -moz-box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
}

.contentLearnMore {
    width: 100%;
    padding: 10px;
}

.contentLearnMore h3 {
    text-align: start;
    font-size: 25px;
    font-weight: bold;
}

.wrapCloseBtn {
    width: 100%;
}

.closeBtnCrd {
    position: absolute;
    right: 5px;
    top: 0;
    margin-top: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.closeBtnCrd:hover {
    transform: scale(1.2);
}

.wrapEmailBtn {
    width: 100%;
}

.EmailBtn {
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
    position: relative;
}

.EmailBtn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 30px;
    top: 11px;
    left: -5px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    transition: bottom 0.3s ease, left 0.3s ease;
}

.EmailBtn:hover {
    transform: scale(1.2);
    box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    -webkit-box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    -moz-box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
}

.EmailBtn:hover::before {
    transform: scale(1);
    top: 12px;
    left: -12px;

}


.regBorder {
    border-bottom: 2px solid white;
    width: 70%;
}

.benefitCardSection {
    margin-top: 20px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

.bridgeCardSection {
    border-top: 2px solid white;
}

.servicesCardSection {
    margin-top: 20px;
}


@-webkit-keyframes slide-fwd-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    100% {
        -webkit-transform: translateZ(100px);
        transform: translateZ(100px);
    }
}

@keyframes slide-fwd-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    100% {
        -webkit-transform: translateZ(100px);
        transform: translateZ(100px);
    }
}

@-webkit-keyframes slide-fwd-center-out {
    0% {
        -webkit-transform: translateZ(1);
        transform: translateZ(1);
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes slide-fwd-center-out {
    0% {
        -webkit-transform: translateZ(100px);
        transform: translateZ(100px);
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}


.wrapperIconPrice {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -28px;
    left: 33%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgb(22, 146, 134) 100%);
}

.wrapperIconPrice::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
    inset: 4px
}

.listCardPrice {
    list-style-type: none;
}

.correctPart {
    background-color: green;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.incorrectPart {
    background-color: red;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partAddUp {
    margin-left: 20px;
}

.price {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.classLimit {
    width: 60%;
    border-bottom: 1px solid white;
}

.startNowPlan {
    border-radius: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 1.5);
    width: 115px;
    height: 43px;
    white-space: nowrap;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
}

.startNowPlan::before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: -8px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    transition: bottom 0.3s ease, left 0.3s ease;
}

.startNowPlan:hover {
    transform: scale(1.2);
    box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    -webkit-box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    -moz-box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
}

.startNowPlan:hover::before {
    transform: scale(1);
    bottom: -6px;
    left: -8px;

}

.floatingTextPlan {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    transform: rotate(315deg);
    display: inline-block;
    position: absolute;
    left: 67%;
    bottom: 3vh;
    width: auto;
    height: auto;
    font-size: 90%;
}

.customCard2 {
    background: linear-gradient(-45deg, rgb(126, 208, 240) 0%, rgb(22, 101, 146) 18%, rgb(46, 59, 180) 10%, rgb(129, 156, 230) 90%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 250px;
    height: 350px;
    border-radius: 20px;
    color: white;
    -webkit-animation: slide-fwd-center-out 0.45s ease-out both;
    animation: slide-fwd-center-out 0.45s ease-out both;
    margin: 20px;
    box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    -webkit-box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    -moz-box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    position: relative;
}

.customCard2:hover {
    -webkit-animation: slide-fwd-center 0.45s ease-out both;
    animation: slide-fwd-center 0.45s ease-out both;
}

.floatingTextPlan2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    transform: rotate(315deg);
    display: inline-block;
    position: absolute;
    left: 67%;
    bottom: 3.0vh;
    width: auto;
    height: auto;
    font-size: 90%;
}

.bi-airplane {
    transform: rotate(45deg);
}


.wrapperIconPrice2 {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -28px;
    left: 33%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    background: linear-gradient(90deg, rgb(126, 208, 240) 0%, rgb(22, 101, 146) 100%);
}

.wrapperIconPrice2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
    inset: 4px
}


.customCard3 {
    background: linear-gradient(-45deg, rgb(126, 147, 240) 0%, rgb(22, 61, 146) 18%, rgb(59, 46, 180) 10%, rgb(159, 129, 230) 90%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 250px;
    height: 350px;
    border-radius: 20px;
    color: white;
    -webkit-animation: slide-fwd-center-out 0.45s ease-out both;
    animation: slide-fwd-center-out 0.45s ease-out both;
    margin: 20px;
    box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    -webkit-box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    -moz-box-shadow: 12px 27px 56px -16px rgba(59, 147, 214, 1);
    position: relative;
}

.customCard3:hover {
    -webkit-animation: slide-fwd-center 0.45s ease-out both;
    animation: slide-fwd-center 0.45s ease-out both;
}

.floatingTextPlan3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    transform: rotate(315deg);
    display: inline-block;
    position: absolute;
    left: 75%;
    bottom: 2vh;
    width: auto;
    height: auto;
    font-size: 90%;
}

.bi-airplane {
    transform: rotate(45deg);
}


.wrapperIconPrice3 {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -28px;
    left: 33%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    background: linear-gradient(90deg, rgb(126, 147, 240) 0%, rgb(22, 61, 146) 100%);
}

.wrapperIconPrice3::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
    inset: 4px
}